* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

.navbar {
  background-color: #cecece;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-width: 100px;
}

/* Parte del home (registrado) */
.menu {
  display: flex;
  gap: 20px;
  align-items: center;
}

.menu img {
  width: 30px;
}

/* -----------------------------*/

.menu .registro {
  display: block;
  text-decoration: none;
  padding: 10px 10px;
  color: #ffffff;
  background-color: #4d4d4d;
  border-radius: 10px;
}

/* Media queries para dispositivos móviles */
@media only screen and (max-width: 600px) {
  .navbar {
    align-items: center;
  }

  .menu {
    margin-top: 10px;
  }
}

/* Esto acá son los estilos de las publicaciones en la página de Inicio de HisArts */

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.post {
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  border-radius: 20px;
}

.post-header {
  padding: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.user-profile {
  display: flex;
  align-items: center;
}

.user-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-profile a{
  text-decoration: none;
}

.username {
  font-weight: bold;
  font-size: 16px;
}

.post-content {
  padding: 10px;
}

.post-image {
  width: 100%;
}

.post-image img {
  width: 100%;
}

.post-description {
  margin-bottom: 10px;
}

.post-actions {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.post-actions .imageToClick {
  width: 8%;
}

.action-icons {
  display: flex;
  gap: 30px;
}

.action-icons img {
  width: 7%;
}

.action-icons img:hover {
  color: #333;
}


/* Caja de Comentarios */

.container-comentarios {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(235, 233, 233, 0.589);
  border-radius: 30px;
  display: block;
}

.comentario {

  margin-top: 1em;
  margin-bottom: 20px;
  border-bottom: 0.4px solid #cecccc4e;
  padding-bottom: 4px;
}

textarea {
  width: 100%;
  height: 50px;
  resize: none;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 5px;
}

button {
  background-color: #f3b257;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0c3e01;
}

/*------------- Camara -------------- */


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cameraSection {
  margin-bottom: 20px;
}

#cameraSection h2 {
  font-size: 18px;
}

.camera-icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}



.camera-icon img {
  width: 100%;
  height: auto;
}

#cameraPosition {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1em;
}

#containercamera {
  display: flex;
  height: 500px;
  color: #fafafa;
  justify-content: center;
  align-items: center;
  background-color: #a39e9e;
}

#cameraPosition h3 {
  margin-bottom: 5px;
}

#videoElement {
  display: block;
  /* Para ocultar el video por defecto "None" */
  width: 70%;
  border-radius: 1em;
  box-shadow: 5px 3px 40px;

}

/* Menu inferior */

.menu-inferior {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #a0a0a0ab;
  justify-content: center;
  display: flex;
  padding: 8px 0;
  gap: 3em;
}

.icono {
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.icono img {
  width: 40px;
  padding-left: 8px;
}

/* Menu flotante */

.floating-button {
  position: fixed;
  bottom: 3.5em;
  right: 20px;
}

.floating-button img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.265);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.floating-button img:hover {
  transform: scale(1.1);
}


/* Camara. Media queries para dispositivos móviles */
@media only screen and (max-width: 600px) {
  .camera-icon {
    width: 30px;
    height: 30px;
  }

  #cameraPosition {
    font-size: 14px;
    width: 60%;
  }
}